<footer class="site-footer">
  <div class="container">
    <small class="block">&lt;/&gt; 
		Sagar Patil &copy;2017
	</small>
	 <big> 
	  	 <a href="https://github.com/sagpat"> <i class="fa fa-github" aria-hidden="true" style="color:#3b5998"></i></a>
	  	 <a href="https://medium.com/@sagpat"> <i class="fa fa-medium" aria-hidden="true" style="color:#3b5998"></i></a>
		 <a href="https://twitter.com/sagspat"> <i class="fa fa-twitter" aria-hidden="true" style="color:#3b5998"></i></a>
	 </big>
  </div>	
</footer>
